
<br>
<h1>Formulario HTML</h1>
<br>

<form action="/create" method="get">
 <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
 </div>
 <div class="form-group">
    <label for="edad">Edad</label>
    <input name="edad" type="number" class="form-control">
 </div>
 <div class="form-group">
    <label for="comentario">Comentario</label>
    <textarea name="comentario" class="form-control"> </textarea>
 </div>
 <br>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>